<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.feature.multi.perspective.model/schema/1.0"
            class="org.feature.model.constraint.ConstraintPackage"
            genModel="src/main/model/constraint.genmodel"/>
   </extension>

</plugin>
