<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.conper.de/classification"
            class="org.feature.multi.perspective.classification.ClassificationPackage"
            genModel="model/classification.genmodel"/>
   </extension>
  

</plugin>
