/OneFeatureRemoved.feature
/MandatoryFeatureRemoved.feature
/OrFeatureBoundAndRemoved.feature
/AlternativeFeatureBoundAndRemoved.feature
/OptionalFeatureBoundAndRemoved.feature
/ConstraintCameraRemoved.feature
