<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.emftext.term.propositional.expression.presentation.TermModelWizardID"
            name="%_UI_TermModelWizard_label"
            class="org.emftext.term.propositional.expression.presentation.TermModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TermModelFile.gif">
         <description>%_UI_TermModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.emftext.term.propositional.expression.presentation.TermEditorID"
            name="%_UI_TermEditor_label"
            icon="icons/full/obj16/TermModelFile.gif"
            extensions="term"
            class="org.emftext.term.propositional.expression.presentation.TermEditor"
            contributorClass="org.emftext.term.propositional.expression.presentation.TermActionBarContributor">
      </editor>
   </extension>

</plugin>
